body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
h1 {
  text-align: center;
}
div {
  padding: 20px;
  display: flex;
  margin: 40px;
  text-align: justify;
}
h3 {
  text-align: justify;
  display: flex;
}
ol, ul {
  margin-left: 40px;
}
table {
  border-collapse: collapse;
  margin: 20px auto;
}
th, td {
  padding: 10px 20px;
  border: 1px solid white;
}
img {
  display: block;
  margin: 20px ;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
}
a {
  display: block;
  text-align: center;
  margin: 20px auto;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  width: 200px;
}
a:hover {
  background-color: white;
  color: black;
}